.big-teaser {
  position: relative;
  margin-bottom: 60px;
}
.big-teaser div[class^="image_"] {
  transition: 300ms;
}
.big-teaser div[class^="image_"]:hover {
  z-index: 1000 !important;
  transform: scale(1.1);
  box-shadow: rgba(0,0,0,0.2) 0 0 100px 0;
}
.big-teaser.type_two .text-block {
  margin: 0 auto;
}
.big-teaser.type_two .image_one {
  width: 574px;
  height: 344px;
  left: 0;
  top: -30px;
  bottom: auto;
}
.big-teaser.type_two .image_two {
  width: 350px;
  height: 411px;
  right: 0;
  bottom: -30px;
  top: auto;
}
.big-teaser .text-block {
  background-color: white;
  padding: 60px;
  width: 65%;
  max-width: 670px;
  position: relative;
  z-index: 4;
}
.big-teaser .text-block h2 {
  margin-top: 0;
}
.big-teaser .image_one {
  width: 350px;
  height: 410px;
  z-index: 2;
  position: absolute;
  right: 270px;
  bottom: -50px;
}
.big-teaser .image_two {
  width: 574px;
  height: 343px;
  position: absolute;
  right: 0;
  top: -30px;
  z-index: 1;
}
