#archive-database {
  position: relative;
}
#archive-database .adb-advanced-search {
  display: none;
  padding: 40px;
  width: 100%;
}
#archive-database .adb-advanced-search .form-group {
  width: 45%;
  margin-right: 40px;
  float: left;
  margin-bottom: 20px !important;
}
#archive-database .adb-advanced-search .form-group label {
  min-width: 140px;
}
#archive-database .table-editbar {
  background-color: #FFF;
  border: 1px solid #F0F0F0;
  display: flex;
  justify-content: space-between;
}
#archive-database .table-editbar .right {
  max-width: 100% !important;
  width: 100%;
}
#archive-database .table-editbar .left,
#archive-database .table-editbar .right {
  max-width: 50%;
}
#archive-database .table-editbar .left .form-group,
#archive-database .table-editbar .right .form-group {
  margin-bottom: 0;
  float: left;
}
#archive-database .table-editbar .left .form-group label,
#archive-database .table-editbar .right .form-group label {
  padding-right: 10px;
}
#archive-database .table-editbar .left .form-group input,
#archive-database .table-editbar .right .form-group input {
  box-shadow: none;
}
#archive-database .table-editbar .left .form-group input:focus,
#archive-database .table-editbar .right .form-group input:focus {
  border: 1px solid #333;
}
#archive-database .table-editbar .left .form-group + a,
#archive-database .table-editbar .right .form-group + a {
  line-height: 40px;
  padding-left: 20px;
}
#archive-database .grid {
  margin-top: 60px;
}
#archive-database .grid .grid-element {
  max-width: 260px;
  margin: 0 10px 20px 0;
  cursor: pointer;
  background-color: white;
}
#archive-database .grid .grid-element:nth-child(4n) {
  margin-right: 0;
}
#archive-database .grid .grid-element img {
  width: 100%;
  max-width: 100%;
}
#archive-database .grid .grid-element div:not(#image_url) {
  padding: 10px;
  font-size: 0.9em;
  color: #ABABAB;
}
#archive-database .grid .grid-element #title {
  min-height: 68px;
}
#archive-database .grid .grid-element #title span {
  color: #222222;
  font-size: 1.225em;
  line-height: 1.5em;
}
