.listing.forge-products {
  display: flex;
  margin-left: -30px;
  flex-wrap: wrap;
}
.listing.forge-products .product-list-item {
  margin-left: 30px;
  margin-bottom: 30px;
  width: 370px;
  background-color: white;
}
.listing.forge-products .product-list-item h3 {
  min-height: 30px;
}
.listing.forge-products .product-list-item .img {
  width: 100%;
  height: 220px;
  background-color: #f2f2f2;
}
.listing.forge-products .product-list-item .infos {
  padding: 15px;
}
