html {
  height: 100%;
  box-sizing: border-box;
}
body {
  background-color: #F8F8F8;
  font-family: "Lora", serif;
  font-size: 14px;
  position: relative;
  margin: 0;
  min-height: 100%;
  color: #222222;
}
body .wrapped,
body .wrapper {
  max-width: 1080px;
  margin: 0 auto;
}
body .content {
  padding-bottom: 120px;
}
body .content img {
  max-width: 100%;
}
h1,
h2,
h3 {
  color: #222222;
  font-weight: 400;
}
p,
p.alternative,
p.lead {
  color: rgba(0,0,13,0.6);
}
.wrapper h2 {
  padding: 0 20px;
}
.news-teaser .blocks {
  padding: 0 15px;
}
.news-teaser .block {
  background-color: white;
  padding: 30px 30px 0 30px;
}
.content ul {
  list-style-type: circle;
  padding-left: 24px;
  margin-bottom: 10px;
}
.content ul li {
  font-size: 1.1em;
  color: rgba(0,0,13,0.6);
  line-height: 1.5em;
}
a.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
button.add-to-cart {
  background-color: #FFF;
  border: 1px solid #999;
  border-radius: 60px;
  transition: 200ms;
}
button.add-to-cart:hover {
  border-color: #D32F2F;
}
.results {
  margin-top: 40px;
}
h1 {
  font-size: 2.857em;
  margin-bottom: 20px;
}
h2 {
  font-size: 2.286em;
  margin-top: 60px;
  margin-bottom: 20px;
}
h3 {
  font-size: 1.343em;
  margin-bottom: 10px;
}
p {
  font-size: 1.1em;
  margin-bottom: 24px;
  line-height: 1.4em;
}
p.alternative {
  font-size: 0.929em;
}
p.lead {
  font-size: 1.429em;
  line-height: 24px;
}
a {
  color: #D32F2F;
  transition: 200ms;
}
a:hover,
a:focus {
  color: #d74444;
  text-decoration: none;
}
dl dt {
  margin-bottom: 3px;
  opacity: 0.7;
}
dl dd {
  margin-bottom: 10px;
}
.row {
  padding: 0 0 40px 0;
}
.text-content {
  max-width: 768px;
}
.highlight {
  background-color: #fafafa;
  padding: 15px;
  text-align: center;
  margin-bottom: 10px;
}
body > .content > div:first-child.wrapped {
  padding-top: 140px;
}
.forge-events h1 {
  padding-top: 70px;
}
.forge-events .intro-infos {
  padding-top: 0;
}
.forge-events .facts-block {
  margin-bottom: 10px;
}
.forge-events .facts-block span {
  display: block;
  margin-bottom: 3px;
}
.forge-events .facts-block span.before {
  opacity: 0.5;
}
#archive-database .table-editbar {
  padding: 10px;
}
#archive-database .table-editbar .left {
  display: none;
}
#archive-database .control-label {
  margin-right: 20px;
}
