.big-teaser {
    position: relative;
    margin-bottom: 180px;
    padding-top: 180px;

    .background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
    }

    .text-block {
        background-color: white;
        padding: 60px;
        width: 65%;
        max-width: 670px;
        position: relative;
        z-index: 4;
        position: relative;
        bottom: -80px;

        h2 {
            margin-top: 0;
        }
    }
}