.form-group {
    display: flex;
    label {
        max-width: 120px;
        width: 20%;
        line-height: 40px;
    }
    input {
        height: 40px;
        border-radius: 0;
        &:focus, &:active {
            border-color: @color-brand;
            box-shadow: none;
        }
    }

}

input.fullwidth {
    width: 100%;
    line-height: 40px;
    height: 60px;
    border: 1px solid #F0F0F0;
    padding: 20px 30px;
}
