<!DOCTYPE html>
<html>
{$head}
<body class="{$bodyclass}">
    <header>
        <section id="main-bar">
            <a id="logo-area" href="{$home_url}">
                <img src="{$logo}" alt="" />
            </a>
            <div id="main-title"><span>{$main_title}</span></div>
            <a href="javascript://" id="menu-trigger">
                <span class="icon"></span>
            </a>
        </section>
        <section id="search">
            <div id="panel">
                <form method="get" action="{$search_base}">
                    <input type="text" data-base="{$search_base}" autocomplete="off" name="search_field" id="search_field" />
                </form>
                <div class="results"></div>
            </div>
            <div id="icon"></div>
        </section>
        <section id="nav-bar">
            <div class="navigations">
                {$primary_navigation}
                {$secondary_navigation}
                {$lang_selection}
            </div>
        </section>
        <div id="nav-overlay"></div>
    </header>
    <div id="top-fadeout"></div>
    <div class="content">
        {$body}
    </div>
    <div class="overlay">
        <div class="loader"></div>
        <span class="close"></span>
        <div class="content"></div>
    </div>
    <div class="overlay-cover"></div>
</body>
<footer>
    <div>
        <div class="copyright">{$footer_copyright}</div>
    </div>
    <div>
        <div class="navigation">{$footer_navigation}</div>
        <div class="webdesign">{$footer_webdesign}</div>
    </div>
</footer>

</html>
