<div class="big-teaser {$layout_type}">
    <section class="text-block">
        <h2>{$title}</h2>
        {if="$lead"}<p class="lead">{$lead}</p>{/if}
        {if="$text"}{$text}{/if}
        {if="$btn_text_one"}<a class="btn btn-primary" href="{$btn_url_one}">{$btn_text_one}</a>{/if}
        {if="$btn_text_two"}<a class="btn btn-discreet" href="{$btn_url_two}">{$btn_text_two}</a>{/if}
    </section>
    <div class="image_one" style="background-image:url({$image_one});"></div>
    <div class="image_two" style="background-image:url({$image_two});"></div>
</div>