<div class="big-teaser">
    <div class="wrapped">
        {if="strlen($title) > 0"}
        <section class="text-block">
            <h2>{$title}</h2>
            {if="$lead"}<p class="lead">{$lead}</p>{/if}
            {if="$text"}{$text}{/if}
            {if="$btn_text_one"}<a class="btn btn-discreet" href="{$btn_url_one}">{$btn_text_one}</a>{/if}
            {if="$btn_text_two"}<a class="btn btn-discreet" href="{$btn_url_two}">{$btn_text_two}</a>{/if}
            {if="$btn_text_three"}<a class="btn btn-discreet" href="{$btn_url_three}">{$btn_text_three}</a>{/if}
        </section>
        {/if}
    </div>
    <div class="background" style="background-image:url({$image});"></div>
</div>