<div class="row wrapped">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <a class="small-teaser wrapped" href="{$link1}">
            <img src="{$image1}" style="max-width: 100%" />
            <h3>{$title1}</h3>
            <p class="alternative">{$text1}</p>
            <span class="rodo-arrow"></span>
        </a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <a class="small-teaser wrapped" href="{$link2}">
            <img src="{$image2}" style="max-width: 100%" />
            <h3>{$title2}</h3>
            <p class="alternative">{$text2}</p>
            <span class="rodo-arrow"></span>
        </a>
    </div>
</div>